/* --------------------------------- fonts */

@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700&display=swap');


/* --------------------------------- navbar */

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-text {
    color: #cbbe80;
    font-weight: bold;
}

.navbar-bg {
    background-color: #006b88;
}

.navbar .navbar-toggler {
    border: 0;
}


/* --------------------------------- callout */

.callout-container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: url(../images/gym1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.75);
    color: #cbbe20;
}

.callout-container h1,
.callout-container h2,
.callout-container h4,
.callout-container button {
    margin: 30px;
}


/* --------------------------------- features */

.features-container {
    font-family: 'Exo', sans-serif;
    background-color: #cbbe80;
    color: #fff;
}


/* --------------------------------- quotes */

.quotes-container {
    font-family: 'Exo', sans-serif;
    background-color: #006b88;
    color: #fff;
}


/* --------------------------------- classes */

.classes-container {
    height: 100vh;
    background: url('../images/gym2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* --------------------------------- equipments */

.equipments-container {
    height: 100vh;
    background: url('../images/gym3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* --------------------------------- timetables */

.timetables-container {
    height: 100vh;
    background: url('../images/gym4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* --------------------------------- contact */

.contact-container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #cbbe80;
    color: #006b88;
}

.contact-heading {
    padding-top: 120px;
    padding-bottom: 30px;
}

.contact-text {
    padding-bottom: 20px;
}

.form-contact {
    display: block;
    width: 50%;
    border-radius: 8px;
    padding: 5px;
    margin: 20px auto;
}

@media (max-width: 576px) {
    .contact-heading {
        padding-top: 70px;
        padding-bottom: 10px;
    }

    .form-contact {
        width: 80%;
        margin: 10px auto;
    }
}


/* --------------------------------- footer */

.footer-container {
    font-family: 'Exo', sans-serif;
    background-color: #525252;
    color: #fff;
}

.footer-container h5 {
    padding-top: 20px;
}

.footer-container p {
    font-weight: 300;
}

.social-links li a i {
    color: #fff;
    font-size: 30px;
}

.social-links li a i:hover {
    color: #f4951d;
}

.map {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    width: 100%;
    height: 300px;
}

.footer-col {
    padding-top: 25px;
    padding-bottom: 10px;
}

.footer-col h5,
.footer-col ul {
    text-align: center;
}

.footer-col i {
    color: #f4951d;
}

.opening-hours {
    display: block;
    text-align: center;
    clear: both;
    padding-left: 60px;
    padding-right: 60px;
}

@media (max-width: 768px) {
    .opening-hours {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.days {
    text-transform: uppercase;
    float: left;
}

.hours {
    float: right;
}


/* --------------------------------- other */

.btn-custom {
    min-width: 90px;
    border-radius: 25px;
}

.btn-callout {
    min-width: 200px;
}

.btn-contact {
    min-width: 200px;
    margin-top: 20px;
}

.btn-modal-pos {
    display: block;
    margin: 0 auto;
}

.btn--orange {
    color: #fff;
    background-color: #f4951d;
    border-color: #cc7b19;
}

.btn--orange:hover,
.btn--orange:active,
.btn--orange:focus,
.btn--orange:active:focus {
    color: #fff;
    background-color: #cc7b19;
}

.text-centered {
    text-align: center;
}

.heading {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 30px;
}

.block-divider {
    border: 0;
    height: 2px;
    width: 50px;
    background-color: #fff;
}

.block-divider-lg {
    height: 4px;
    width: 100px;
}

.block-divider-sm {
    height: 1px;
    width: 25px;
}